@import '../utils/mixins';

// 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px //
// 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px //
// 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px //
// 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px //
// 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px 480px //

@media screen and (min-width: 320px) {
  .attributes {

    &__list {
      display: flex;
      flex-direction: column;
    }

    &__item {
      @include width-height(450px, 251px);
    }

    &__icon-background {
      @include width-height(450px, 120px);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;
      background-color: $btn-white-bg-color;
    }

    &__icon {
      @include width-height(70px, 70px);
    }

    &__title {
      font-weight: bold;
      line-height: 1.14;
      text-transform: uppercase;
      margin-bottom: 10px;
      text-align: center;
    }

    &__content {
      color: $nav-icons-color;
      line-height: 1.714;
    }

    &__title,
    &__content {
      font-family: inherit;
      font-size: 14px;
      letter-spacing: 0.03em;
    }
  }
}

// 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px //
// 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px //
// 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px //
// 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px //
// 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px 768px //

@media screen and (min-width: 768px) {
  .attributes {

    &__list {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;
    }

    &__item {
      @include width-height(354px, 251px);
    }

    &__icon-background {
      @include width-height(354px, 120px);
    }

    &__title {
      text-align: left;
    }
  }
}

// 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px //
// 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px //
// 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px //
// 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px //
// 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px 1200px //

@media screen and (min-width: 1200px) {
  .attributes {

    &__list {
      column-gap: 30px;
    }

    &__item {
      @include width-height(270px, 251px);
    }

    &__icon-background {
      @include width-height(270px, 120px);
    }
  }
}