.mobile-menu {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  transition-property: opacity, visibility;
  transition-duration: 300ms;
  transition-timing-function: linear;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-menu--is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.btn__close-mobile {
  @include width-height(40px, 40px);
  top: 20px;
  right: 20px;
  position: absolute;
  background-color: $secondary-color;
  cursor: pointer;

  &:focus,
  &:hover {
    fill: $third-color;
  }
}