@import '../utils/mixins';

.container {
  max-width: 480px;
  padding: 0 15px;
  margin: 0 auto;

  .effective-solutions & {
    display: block;
    padding: 58px 0;
    text-align: center;
  }

  .header & {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    @include width-height(100%, 60px);
  }

  .footer & {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;

    .header & {
      justify-content: left;
      padding: 21px 15px;
      @include width-height(768px, 80px);
    }

    .footer & {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    align-items: center;

    .effective-solutions & {
      display: block;
      padding: 106px 0;
      text-align: center;
    }

    .header & {
      display: flex;
      padding-top: 24px;
      padding-bottom: 25px;
      @include width-height(1600px, 80px);
    }

    .footer & {
      flex-wrap: nowrap;
      align-items: flex-start;
    }
  }
}
